if SHIELD_ENKP_LEFT

config ZMK_KEYBOARD_NAME
    default "enkp"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ENKP_LEFT

if SHIELD_ENKP_LEFT || SHIELD_ENKP_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_ENKP_LEFT || SHIELD_ENKP_RIGHT
